* {
  box-sizing: border-box;
}

html, body, .top {
	width: 100%;
	height: 100%;
  font-size: small;
  text-align: center;
  font-weight: lighter;
}

p, a {
	font-family: "dinn-regular";
}

p {
	color: #ffffff;
	padding: 15px 26vw 5px;
}

a {
  background-color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: #e6c7a0;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

img {
	padding-top: 90px;
	max-width: 272px;
	width: 80%;
	height: auto;
	padding-bottom: 10px;
}

.top {
	background-color: #e6c7a0;
	background-image: url("assets/images/bot-background.svg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}

.text {
	padding-bottom: 20px;
}

@font-face {
  font-family: "dinn-regular";
	src: url('assets/fonts/din-next-regular/DINNextLTPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/din-next-regular/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/din-next-regular/DINNextLTPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/din-next-regular/DINNextLTPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/din-next-regular/DINNextLTPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/din-next-regular/DINNextLTPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}