* {
  box-sizing: border-box;
}

html, body, .top {
	width: 100%;
	height: 100%;
  font-size: small;
  text-align: center;
  font-weight:lighter;
}

p, a {
	font-family: "DINNRegular";
}

p {
	color: #FFFFFF;
	padding: 15px 26vw 5px 26vw;
}

a {
	background-color: #FFFFFF;
  display: block;
  margin: 30px auto 5px auto;
  width: fit-content;
  color: #E6C7A0;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

img {
	padding-top: 90px;
	max-width: 272px;
	width: 80%;
	height: auto;
	padding-bottom: 10px;
}

.top {
	background-color: #E6C7A0;
	background-image: url("assets/images/bot-background.svg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}

.text {
	padding: 20px auto 20px auto;
}

@font-face {
	font-family: "DINNRegular";
	src: url('assets/fonts/din-next-regular/DINNextLTPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/din-next-regular/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/din-next-regular/DINNextLTPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/din-next-regular/DINNextLTPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/din-next-regular/DINNextLTPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/din-next-regular/DINNextLTPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}